{% extends 'news/base.html' %}
{% block content %}
<div class="about-text">
    <h1>{{ title }}</h1>
    <p>Новостной портал newstoday был создан для учебного индивидуального<br> проекта Шпекторова Александра и имеет открытый <br> исходный код на GitHub.</p>
</div>
<div class="about-img">
   <p><i>Ссылка на репозиторий проекта: </i></p>
    <a href="https://github.com/MisdGhsot17/mysite"><img src='https://w7.pngwing.com/pngs/857/611/png-transparent-github-git-hub-logo-icon-thumbnail.png'></a>
</div>

{% endblock %}